<div class="main" style="background-image: url('images/default.jpg')">

  <!--    Change the image source '/images/default.jpg' with your favourite image.     -->

  <div class="cover black" data-color="black"></div>

  <!--   You can change the black color for the filter with those colors: blue, green, red, orange       -->

  <div class="container">
    <h1 class="logo cursive">
      Snaphy
    </h1>
    <!--  H1 can have 2 designs: "logo" and "logo cursive"           -->

    <div class="content">
      <h4 class="motto">Powering Startups</h4>
      <div class="subscribe">

        <div class="row">
          <h3 class="motto">Coming soon..</h3>
        </div>
      </div>
    </div>

    <div class="footer">
      <div class="container">
        <p class="pull-left">
          Copyright &copy; 2015 <a href="www.snaphy.com">Snaphy</a>
        </p>
        <p>
          <i style="vertical-align: text-top;" class="glyphicon glyphicon-envelope"></i> <a href="mailto:info@snaphy.com?Subject=Info%20regarding%20App%20designing%20for%20my%20Startup" target="_top">Contact Snaphy</a>
        </p>
      </div>
    </div>
    <!--<div class="footer">
      <div class="container">

      </div>
    </div>-->

  </div>

</div>
